 * {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
 }

 .page-section {
   max-width: 960px;
   width: 100%;
   margin: 0 auto;
 } 

 .mainSection {
    display: flex;
    background: #f7f7f7;    
    border-top: 7px solid #ababab;
 }

 ul {
   display: flex;
   flex-wrap: wrap;
   max-width: 70%;
   align-items: center;
   text-align: center;
   width: 100%;
 }

 ul li {
   list-style: none;
   width: calc(100%/3);
   padding: 40px 0;
   font-size: 4vw;
   color: #fff;   
 }

 .btn-section {
  width: 30%;
  text-align: center;
  margin-left: 1%;
}
.setBtn {
  text-transform: uppercase;
}

[card-values='1'] {
  background: #000000;
}
[card-values='2'] {
  background: #2B8EAD;
}
[card-values='3'] {
  background: #333333;
}
[card-values='4'] {
  background: #6F98A8;
}
[card-values='5'] {
  background: #FFFFFF;
  color: #000000;
}
[card-values='6'] {
  background: #BFBFBF;
}
[card-values='7'] {
  background: #EFEFEF;
  color: #000000;
}
[card-values='8'] {
  background: #2F454E;
}
[card-values='9'] {
  background: #72C3DC;
} 

 .btn-section button {
  width: 60%;
  padding: 15px 0;
  margin-top: 30px;
  max-width: 240px;  
  color: #fff;
  font-size: 18px;  
  cursor: pointer;
  background: #72c3dc;
  border: 1px solid #2b8ead;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #1299c3;  
 }

 button:active {
   top: 5px;
   box-shadow: none;
 }

 header,
 footer {
   text-align: center;
   padding: 30px 0;
   color: #333333;
 }

 .footer {
   background: #e7e7e7;
   font-style: italic;
 }
 
 /* for mobile view */
 @media screen and (max-width: 375px) {   
   .mainSection {
     flex-direction: column-reverse;
     background: transparent;
   }

   header {
    background: #181818;
    color: #fff;
    padding: 15px 0;
  }

   ul {
     flex-direction: column;
     max-width: 90%;
     margin: auto;
     background: transparent;
   }

   ul li {
     width: 100%;
     max-width: 100%;
     margin-bottom: 5px;
     color: #333;
     padding: 15px 0;
   }

   .btn-section {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     margin: 15px 0 23px;
   }

   .btn-section button {
     margin: 0;
     max-width: 35%;
     font-size: 14px;
   }

    [card-values='1'] {
      background: #efefef;
      border-left: 5px solid #000000;
    }
    [card-values='2'] {
      background: #efefef;
      border-left: 5px solid #2B8EAD;
    }
    [card-values='3'] {
      background: #efefef;
      border-left: 5px solid #333333;
    }
    [card-values='4'] {
      background: #efefef;
      border-left: 5px solid #6F98A8;
    }
    [card-values='5'] {
      color: #000000;
      background: #efefef;
      border-left: 5px solid #FFFFFF;
    }
    [card-values='6'] {
      background: #efefef;
      border-left: 5px solid #BFBFBF;
    }
    [card-values='7'] {
      color: #000000;
      background: #efefef;
      border-left: 5px solid #EFEFEF;
    }
    [card-values='8'] {
      background: #efefef;
      border-left: 5px solid #2F454E;
    }
    [card-values='9'] {
      background: #efefef;
      border-left: 5px solid #72C3DC;
    } 
 }